.header {
  color: rgb(252, 247, 247);
  background-image: url("http://udeels.com/data/images//kritunga_logo_e58f0a50.jpg");
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 500px;
  margin-bottom: 10px;
}
